{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "@babel/transform-runtime"
        ]
    ],
    "env": {
        "development" : {
            "compact": false
        }
    }
}